
.product-login {
  display: block;
  background-image: url(../../assets/images/login-bg.png);
  background-size: cover;
  background-color: #f3f7f9;
  background-position: right top;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.login-page .container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}

.login-page h2 {
  margin-bottom: 40px;
  color: #20509e;
  font-family: "Futura", sans-serif;
  font-size: 70px;
}

.login-page h3 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
}

.login-page p {
  font-size: 15px;
  color: #535074;
}

.login-page p span {
  margin-right: 20px;
}

.login-page .main-menu-div {
  padding: 0;
  margin-top: 20px
}

.login-page .main-menu-button {
  color: #ffffff;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
  margin-right: 5px;
}

.login-btn-div {
  padding-top: 5%;
  text-align: center;
}

.hotel-content {
  padding-top: 230px;
}

/* login form */
.login-content {
  padding-top: 180px;
}
.wrap-login100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 55px 55px 37px;
}

.p-r-55 {
  padding-right: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.p-b-54 {
  padding-bottom: 54px;
}

.p-t-65 {
  padding-top: 65px;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

.p-b-49 {
  padding-bottom: 49px;
}

.validate-input {
  position: relative;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.m-b-23 {
  margin-bottom: 23px;
}

.label-input100 {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-size: 16px;
  color: #333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: 0 0;
  padding: 0 7px 0 43px;
}

.login-form input {
  outline: none;
  border: none;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #0DB8DE;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: FontAwesome, sans-serif;
  color: #adadad;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.input100:focus + .focus-input100::before {
  width: 100%
}

.has-val.input100 + .focus-input100::before {
  width: 100%
}

.input100:focus + .focus-input100::after {
  color: #0DB8DE
}

.has-val.input100 + .focus-input100::after {
  color: #0DB8DE
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome, sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1
}

.login-error {
  color: red;
  padding-left: 5px;
  padding-bottom: 10px;
}
